{% extends 'base.twig' %}
{% block content %}
	<div class="container mt-5">
		{% for post in posts %}
			{% include 'parts/news-teaser.twig' %}
		{% endfor %}
		{{include('parts/pagination.twig')}}
	</div>
{% endblock %}
