{% extends 'base.twig' %}
{% block content %}
	<div class="container my-5">
		<h3>Search results for: 
			<span class="badge badge-warning">
				{{query}}
			</span>
		</h3>
			{% for post in posts %}
				{% if post.type=='post' %}
					{% include 'parts/news-teaser.twig' %}
				{% endif %}
			{% endfor %}
	</div>
{% endblock %}
